exportPattern("^[[:alpha:]]+")
importFrom("graphics", "abline", "axis", "axis.Date", "axis.POSIXct",
           "barplot", "boxplot", "contour", ".filled.contour", "grid", "hist",
           "image", "layout", "legend", "lines", "matlines", "matplot",
           "mtext", "par", "plot", "points", "polygon", "rect", "segments",
           "symbols", "text", "title")
importFrom("grDevices", "colorRampPalette", "graphics.off", "gray", "grey",
           "hsv", "palette", "pdf", "rainbow")
importFrom("stats", "acf", "aggregate", "approx", "coef", "cor", "cutree",
           "diffinv", "dist", "filter", "hclust", "lm", "median", "na.pass",
           "quantile", "sd", "IQR")
importFrom("utils", "read.csv", "read.table", "write.csv", "write.table")
